<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>PayrollServlet</servlet-name>
    <servlet-class>com.bluelight.servlets.PayrollServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PayrollServlet</servlet-name>
    <url-pattern>/servlets/PayrollServlet/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PayPeriodServlet</servlet-name>
    <servlet-class>com.bluelight.servlets.PayPeriodServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PayPeriodServlet</servlet-name>
    <url-pattern>/servlets/PayPeriodServlet/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CsvImportServlet</servlet-name>
    <servlet-class>com.bluelight.servlets.CsvImportServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CsvImportServlet</servlet-name>
    <url-pattern>/servlets/CsvImportServlet/*</url-pattern>
  </servlet-mapping>

</web-app>
